 <header class="header">
    <div id="header">
            
            <div id="imprint"><a class="imprint" href="subpages/imprint.html">Impressum</a></div>
            <div id="banner"></div>
            <div id="banner_line">
                    <f:cObject typoscriptObjectPath="lib.langmenu" />
                <div id="KWbanner"></div>
            </div>
            
        </div>
 <!-- <f:comment>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-7 left-top-header">
                    <ul class="links head-social">
                        <li><a href="https://twitter.com/BugeseraDistr/"><i class="fa fa-twiiter"></i></a></li>
                        <li><a href="https://www.facebook.com/DistrictBugesera/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.flickr.com/photos/bugeseradistrict"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC5EC5eZLlDR7_82QaKyCAYw/"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/bugeseradistrict/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-5 right-top-header text-right">   
                    <f:comment> 
                    <f:cObject typoscriptObjectPath="lib.languageMenu" />
                    <ul class="flag-box">
                        <li><a href="#"><img src="typo3conf/ext/site_config/Resources/Public/images/gb.png" alt="gb"></a></li>
                        <li><a href="#"><img src="typo3conf/ext/site_config/Resources/Public/images/fr.png" alt="fr"></a></li>
                        <li><a href="#"><img src="typo3conf/ext/site_config/Resources/Public/images/rw.png" alt="rw"></a></li>
                    </ul>
                    </f:comment>
                </div>
            </div>
        </div>    
    </div>
    <div class="header-middle img_bg">
        <img src="typo3conf/ext/site_config/Resources/Public/images/bg.png">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 header-logo">
                    <f:cObject typoscriptObjectPath="lib.logo2" />
                </div>
                <div class="col-sm-4 mobile-col">
                    <div class="m-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box">
                        <div class="search-form">
                            <f:cObject typoscriptObjectPath="lib.search" />
                        </div>  
                    </div>  
                </div>
            </div>
        </div>    
    </div>
    <div class="header-nav1" id="horiznav">   
        <div class="container"> 
                <f:cObject typoscriptObjectPath="lib.mainmenu" />
        </div>
    </div>
</f:comment> -->
</header>