<div class="menu">		
	<div id="navigation">
		<div id="navContent">
			<div id="navContent_active"></div>
			<div><ul>
				<li class="line"></li>
				<li id="navContent_about" class="active"><div><h2>About</h2><h3>Wer ist Wolfgang Weber?</h3></div></li>
				<li class="line"></li>
				<li id="navContent_fahrwerkssetup"><div><h2>Fahrwerkssetup</h2><h3>Alles rund ums Fahrwerk</h3></div></li>
				<li class="line"></li>
				<li id="navContent_seminare"><div><h2>Seminare</h2><h3>Fahrdynamik & Achsgeometrie</h3></div></li>
				<li class="line"></li>
				<li id="navContent_dasBuch"><div><h2>Das Buch</h2><h3>Fahrdynamik in Perfektion</h3></div></li>
				<li class="line"></li>
				<li id="navContent_howTo"><div><h2>How To</h2><h3>Wie wird man Rennfahrer</h3></div></li>
				<li class="line"></li>
				<li id="navContent_netzwerk"><div><h2>Netzwerk</h2><h3>Partner von WW-Motorsport</h3></div></li>
				<li class="line"></li>
				<li id="navContent_praezisionsfahrten"><div><h2>Pr&auml;zisionsfahrten</h2><h3>Wer ist Wolfgang Weber?</h3></div></li>
				<li class="line"></li>
				<li id="spacer"></li>
				<li id="navContent_supermoto"><div><h2>Supermoto</h2><h3>Fahr- & Drifttraining</h3></div></li>
				<li class="line"></li>
				<li id="navContent_elektromotorraeder"><div><h2>Elektromotorr&auml;der</h2><h3>Service & Setup</h3></div></li>
				<li class="line"></li>
				<li id="spacer"></li>
				<li id="navContent_videos"><div><h2>Action Videos</h2><h3>Auf 2- oder 4-R&auml;dern</h3></div></li>
				<li class="line"></li>
		</ul></div>
		</div>
		<div id="navDecorator">
			<div id="aboutDecorator_active" class="decorator_active visible"></div>
			<div id="fahrwerkssetupDecorator_active" class="decorator_active"></div>
			<div id="seminareDecorator_active" class="decorator_active"></div>
			<div id="dasBuchDecorator_active" class="decorator_active"></div>
			<div id="howToDecorator_active" class="decorator_active"></div>
			<div id="netzwerkDecorator_active" class="decorator_active"></div>
			<div id="praezisionsfahrtenDecorator_active" class="decorator_active"></div>
			<div id="supermotoDecorator_active" class="decorator_active"></div>
			<div id="elektromotorraederDecorator_active" class="decorator_active"></div>
			<div id="videosDecorator_active" class="decorator_active"></div>
			<div id="decorator_lines" ></div>
			<div id="decorator_BG"></div>
		</div>
	</div>
</div>