
#top_menu {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 99%;
    z-index:1000;
  background: none repeat scroll 0 0 #cecfed;
}
#horiznav {
    float: none;
    height: 37px;
    padding: 5px 0 0 1px;
    z-index: 500;
}
#horiznav ul {
    line-height: 37px;
    list-style: none outside none;
    padding-top: 0;
}
#horiznav ul li {
    margin: 0;
    position: relative;
}
#horiznav a {
    cursor: pointer;
    display: block;
  color:#000000;
    font: bold 15px/37px Arial;
    height: 37px;
    margin: 0;
    padding: 0 0 0 25px;
    #text-shadow: 1px 1px #000000;
    text-transform: uppercase;
}
#horiznav li a:hover {
    height: 37px;
  
}
#horiznav li {
    float: left;
    padding: 0 20px 0 0;
}
#horiznav ul ul a {
    background: none repeat scroll 0 0 transparent;
}
#horiznav ul ul {
    border: medium none;
}
#horiznav li li a {
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
#horiznav li ul a span {
    display: block;
    margin: 0 0 0 5px;
}
#horiznav ul ul a {
    display: block;
    font-weight: bold;
    height: auto;
    text-decoration: none;
    text-transform: capitalize;
}
#horiznav li li {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
#horiznav li li {
    float: left;
    padding: 0;
}
#horiznav li:hover, #horiznav li.sfHover {
    left: 0;
}
#horiznav ul ul a:hover {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
#horiznav li ul {
    border-bottom: medium none;
    border-width: 0 0 medium;
    font-weight: normal;
    height: auto;
    left: -999em;
    margin: 0 0 0 -1px;
    padding: 0;
    position: absolute;
}
#horiznav li:hover, #horiznav li.sfHover {
    position: static;
}
#horiznav li:hover ul ul, #horiznav li:hover ul ul ul, #horiznav li:hover ul ul ul ul, #horiznav li.sfHover ul ul, #horiznav li.sfHover ul ul ul, #horiznav li.sfHover ul ul ul ul {
    left: -999em;
}
#horiznav li:hover ul, #horiznav li li:hover ul, #horiznav li li li:hover ul, #horiznav li li li li:hover ul, #horiznav li.sfHover ul, #horiznav li li.sfHover ul, #horiznav li li li.sfHover ul, #horiznav li li li li.sfHover ul {
    left: auto;
    z-index: 100;
}
#horiznav ul ul li a {
    border-right: medium none;
}
#horiznav ul li:hover li:hover, #horiznav ul li#current ul li a, #horiznav ul li#current ul li, #horiznav ul li#current ul li a:hover, #horiznav ul li#current ul li.hover, #horiznav li.haschild:hover li span, #horiznav li.haschild.sfHover li span, #horiznav li.sfHover li span, #horiznav ul li li a, #horiznav ul li.haschild li#current a, #horiznav ul li.haschild li#current, #horiznav ul li.sfHover li.sfHover, #horiznav ul li ul li a:hover, #horiznav ul li ul li:hover, #horiznav ul li ul li.sfHover {
    background-image: none;
}
#horiznav li ul ul {
    margin: -32px 0 0 173px;
}
#horiznav ul li:hover li a, #horiznav ul li.sfHover li a {
    background-image: none;
}
#horiznav ul ul a, #horiznav li ul {
    width: 173px;
}
#horiznav li li, #horiznav li.haschild ul li#current:hover, #horiznav li.haschild ul li#current.sfHover {
    width: 173px;
}
#top_menu_d {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 10000;
}
#horiznav_d {
    background-color: #836607;
    display: block;
    height: 37px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 1px;
    position: relative;
}
#horiznav_d a {
    cursor: pointer;
    display: block;
    float: left;
    #font: bold 11px/37px Georgia,"Times New Roman",Times,serif;
    height: 37px;
    margin: 0;
    padding: 0 25px;
    text-transform: capitalize;
    white-space: nowrap;
}
#horiznav_d ul {
    float: left;
    line-height: 37px;
    margin: 0;
    padding-top: 0;
}
#horiznav_d ul ul ul {
    left: -20000px;
}
#horiznav_d li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#horiznav_d li ul {
    display: none;
    height: 37px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 37px;
    width: 100%;
}
#horiznav_d li a span, #horiznav_d li .separator span {
    display: block;
    padding: 0;
}
#horiznav_d li ul a, #horiznav_d li.active ul a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-weight: normal;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
}
#horiznav_d li.active ul {
    display: block;
}
#horiznav_d li:hover ul, #horiznav_d li.sfHover ul {
    display: block;
    z-index: 6000;
}
#horiznav_d li a, #horiznav_d li .separator {
    font: bold 11px/37px Georgia,"Times New Roman",Times,serif;
    text-transform: capitalize;
}
#horiznav_d li li {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li li.active, #horiznav_d li li.active:hover, #horiznav_d li li.active.sfHover, #horiznav_d li li:hover, #horiznav_d li li.sfHover {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li li.active a, #horiznav_d li li.active .separator, #horiznav_d li li.active a:hover, #horiznav_d li li.active .separator:hover, #horiznav_d li li:hover a, #horiznav_d li li:hover .separator, #horiznav_d li li.sfHover a, #horiznav_d li li.sfHover .separator {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li li a, #horiznav_d li li .separator {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li li, #horiznav_d li li a span, #horiznav_d li li .separator span {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li li a span, #horiznav_d li li .separator span {
}
#horiznav_d li.sfHover li a, #horiznav_d li:hover li a, #horiznav_d ul li.active ul li.active li a, #horiznav_d ul li.active.parent ul li a, #horiznav_d li.sfHover li .separator, #horiznav_d li:hover li .separator, #horiznav_d ul li.active.parent ul li .separator, #horiznav_d ul li.active.parent ul li .seperator {
    background: none repeat scroll 0 0 transparent;
    text-indent: 0;
}
#horiznav_d li.active li a, #horiznav_d li.active.parent li a, #horiznav_d li.active li .separator, #horiznav_d li.active.parent li .separator {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d ul ul li:hover, #horiznav_d ul ul li.sfHover {
    background-image: none;
}
#horiznav_d ul ul li a, #horiznav_d ul li.active.parent ul a, #horiznav_d ul li.active.parent ul a span, #horiznav_d ul ul li .separator, #horiznav_d ul li.active.parent ul .separator, #horiznav_d ul li.active.parent ul .separator span {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d ul ul li.active, #horiznav_d ul ul li.active:hover, #horiznav_d ul ul li.active.sfHover {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d li.parent li a:hover {
    background: none repeat scroll 0 0 transparent;
}
#horiznav_d ul li ul {
    width: 100%;
}
#mainlevel ul, .menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#mainlevel {
    margin-left: -25px;
    margin-right: -8px;
    padding: 0;
    text-align: left;
}
.menu {
    margin-left: -19px;
    margin-right: -8px;
    padding: 0;
    text-align: left;
}
#mainlevel li, .menu li, .menu li:hover {
    background-image: none;
}
#mainlevel li a, .menu li a {
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 20px;
    padding-top: 5px;
    text-decoration: none;
    text-indent: 22px;
}
a.mainlevel {
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 20px;
    padding-top: 5px;
    text-decoration: none;
    text-indent: 24px;
    width: 100%;
}
a.sublevel {
    display: block;
    padding: 2px 4px 0 15px;
    text-decoration: none;
}
a.sublevel:hover, a.sublevel:active, a.sublevel:focus {
    text-decoration: underline;
}
.module a.sublevel {
    display: block;
    margin: 0;
    padding: 0 4px 12px 15px;
}

#horiznav ul li a{#color:#22282e; background:url("../images/normal_l.png") no-repeat left center}

#horiznav ul li a:hover,
#horiznav ul li:hover a,
#horiznav ul li.sfHover a{#color:#4e7700; background:url("../images/hover_l.png") no-repeat left center}
#horiznav li#current a,
#horiznav li#current a:hover,
#horiznav li#current:hover a,
#horiznav li#current.sfHover a,
#horiznav li.active a{#color:#4e7700; background:url("../images/active_l.png") no-repeat left center}
#horiznav li#current,
#horiznav li#current:hover,
#horiznav li#current.sfHover,
#horiznav li.active{background:url("../images/active_r.png") no-repeat right center}
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li#current:hover li a,
#horiznav ul li#current.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul ul li.active{#color:#22282e; background-image:none}

#horiznav li:hover ul,
#horiznav li li:hover ul,
#horiznav li li li:hover ul,
#horiznav li li li li:hover ul,
#horiznav li.sfHover ul,
#horiznav li li.sfHover ul,
#horiznav li li li.sfHover ul,
#horiznav li li li li.sfHover ul,
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul li.sfHover ul ul li a,#hariznav li a:hover{#background-color:#FAFAFA;background-color:#337434;}

#horiznav li ul li a:hover,
#horiznav li ul li ul li a:hover,
#horiznav li li:hover,
#horiznav ul li li.sfHover,
#horiznav li li.sfHover a,
#horiznav ul li li:hover a,
#horiznav ul li li:hover,
#horiznav ul li li.sfHover,
#horiznav ul li li#current a:hover,
#horiznav li.haschild ul li#current.sfHover,
#horiznav li.haschild ul li#current:hover,
#horiznav ul li.haschild li#current a:hover{#background-color:#FAFAFA; background-color: #273075;#color:#4e7700; background-image:none}
#horiznav ul li#current ul li a,
#horiznav ul li#current ul li,
#horiznav ul li#current ul li a:hover,
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover,
#horiznav ul li.haschild li#current a{color:#4e7700}
#horiznav li li{border-bottom:1px solid #e4e4e4}

#horiznav li ul{border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4; border-bottom:none; border-top:1px solid #e4e4e4}
#horiznav li, #horiznav{background:url("../images/horiz_bg.png") repeat-x 0 center; font-weight:bold}
#horiznav li{background:url("../images/normal_r.png") no-repeat right center}
#horiznav ul li:hover, #horiznav ul li.sfHover{background:url("../images/hover_r.png") no-repeat right center}
#horiznav ul li ul li.haschild a.child,
#horiznav ul li ul li a.child:hover{background:url("../images/arrow_right.gif") 95% 50% no-repeat}
#horiznav ul li.active ul li a.child{background:url("../images/arrow_right.gif") 95% 50% no-repeat}

#horiznav_d{background:url("../images/horiz_bg_d.gif") repeat-x 0 top; font-weight:bold}
#horiznav_d li{background:url("../images/normal_l.png") no-repeat left center}
#horiznav_d li a, #horiznav_d li .separator{background:url("../images/normal_r.png") no-repeat right center; color:#22282e}
#horiznav_d ul li ul{background:url("../images/horiz_bg_dd.png") repeat-x 0 top}
#horiznav_d li.active, #horiznav_d li.active:hover,
#horiznav_d li.active.sfHover,
#horiznav_d li:hover, #horiznav_d li.sfHover{background:url("../images/active_l.png") no-repeat left center}
#horiznav_d li.active a, #horiznav_d li.active .separator,
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover,
#horiznav_d li:hover a, #horiznav_d li:hover .separator,
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator{background:url("../images/active_r.png") no-repeat right center; color:#4e7700}
#horiznav_d li.haschild li a:hover,
#horiznav_d li.haschild li.active a{text-decoration:underline; background:url("../images/drop_sep.png") no-repeat right bottom}
#horiznav_d li.haschild li a{#color:#22282e; font-weight:bold; background:url("../images/drop_sep.png") no-repeat right bottom}

#mainlevel li a,
.menu li a,
a.mainlevel{background:#eef3ec url("../images/mainlevel.jpg") no-repeat left top}
#mainlevel li a:hover,
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited,
a.mainlevel:hover,
a.mainlevel#active_menu,
#mainlevel li a:hover,
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited,
.menu li a:hover, .menu li.active a{background:#eef3ec url("../images/mainlevel.jpg") no-repeat left bottom}
a.sublevel{background:url("../images/strelica.gif") no-repeat 2px 9px}
a.sublevel:hover{text-decoration:underline}
#footmod a.mainlevel:hover,
#footmod a.mainlevel:active,
#footmod a.mainlevel:focus,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,
#mainlevel a#active_menu:visited,
a.mainlevel#active_menu,
a.sublevel, a.sublevel:hover,
a.sublevel:active, a.sublevel:focus,
#active_menu, a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus,
ul li a:hover,
li.active a,
li.parent a{color:#b0c38d}
a.mainlevel,
#mainlevel li a{color:#4e7700}
.yjsquare li.active ul li a,
a.sublevel#active_menu{color:#4e7700}
.yjsquare li.active ul li a:hover,
.yjsquare li.active ul li.active a{color:#b0c38d; background:#eef3ec url("../images/mainlevel.jpg") no-repeat left top}





















div#horiznav {
    background: #337cb8;
    font-weight: bold;
}

#horiznav a {
    cursor: pointer;
    display: block;
    color: #fff;
    font: bold 15px/37px Arial;
    font-family: inherit!important;
    height: 37px;
    margin: 0;
    padding: 0 0 0 25px;
}

.news_title h3 {
    background-color: inherit;
}








#horiznav li, #horiznav {
    background: #337cb8;
    font-weight: bold;
}

UL.csc-uploads SPAN.csc-uploads-fileName {
    text-decoration: underline;
    font-size: 12px;
    text-transform: capitalize;
}

div#c60 {
    display: none;
}

input#mod_search_searchword {
    height: 30px;
    width: 400px;
}


.panel-pane.pane-panels-mini.pane-atf-mini-panels-footer{
//background: none repeat scroll 0 0 #3661A9!important;
    height: 10px;
    padding: 20px!important;
}

#horiznav ul li:hover li a{
background:#337cb8;
}

div#langue_corporate {
    display: none;
}
#horiznav ul li a {
    text-align: ;
    text-transform: capitalize;
}


.news-single-img img {
    border: none;
    display: none;
}
p {
    float: left;
}


p#copyrights {
    text-align: center!important;
    /* height: 20px; */
    /* margin: 0 auto; */
    display: block;
    width: 400px;
    margin-left: 260px;
}

.travel_banner_links {
    display: none;
}

.news-single-backlink {
    padding: 10px;
    display: none;
}

ul#partners li a {
    font-size: 12px;
}
ul#partners li {
    height: 15px;
}

.news_title h3 {
    color: #;
    background-color: inherit;
    color: #365D85;
    font-weight: 200;
    text-transform: capitalize;
    float: left;
    text-align: left;
    padding-bottom: 10px;
}

#horiznav li ul a span {
    display: block;
    margin: 0 0 0 5px;
    background: #337cb8;
}

#horiznav ul li:hover li a,#horiznav ul li:hover ul ul li a{
background:#337cb8;
}

.tx_staddressmap_addresslist_item {
    display: none;
}

table.socialize td {
    padding-top: 30px;
    padding-bottom: 30px;
  padding-right:5px;
}

div#c125 {
    margin-left: 10px;
}

div#c71 {
    padding-left: 10px;
}

a.external-link-new-window {
    font-size: 13px;
}

div#c241 h3 {
    margin-bottom: 10px;
}

div#c120 h3 {
    margin-bottom: 10px;
}

#sbtab li {
    list-style-type: none;
    list-style: none;
    background: url(left.gif) left 0px no-repeat;
    float: left;
    margin: 0 0px 0 0px;
    padding: 0;
    cursor: pointer;
}

.tx-veguestbook-pi1 h2.tx-guestbook-header {
    clear: both;
    background: #666;
    color: #FFF;
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 1em;
    width: 35em;
    display: none;
}

.tx-veguestbook-pi1 fieldset {
    border: none;
    display: none;
}
.tx-veguestbook-pi1 .tx-guestbook-field {
    clear: both;
    width: 100%;
    display: block;
    padding: 1em 0;
    display: none;
}

.tx-guestbook-right {
    display: none;
}
.hupso-share-buttons {
    float: left;
}


.tx-msfootermenu-pi1 {
    font-size: 10pt;
    color: gray;
    margin: 0.5em auto;
    display: table;
    font-size: 6pt;
    color: gray;
    margin: 0.5em auto;
    display: table;
    width: 1100px;
    margin-left: -7px !important;
}

.tx-msfootermenu-pi1 {
    font-size: 10pt;
    color: gray;
    margin: 0.5em auto;
    display: table;
    margin-left: 1px!important;
}

.panel-pane.pane-panels-mini.pane-atf-mini-panels-footer {
    height: 10px;
    padding: 20px!important;
    margin-top: -35px;
    margin-left: -1px;
}


p {
    float: none;
}

p#footermenus {
    background: #337cb8;
    margin-top: -26px;
}